div.content{
    display: grid;
    grid-template-columns: 330px 330px 330px;
    column-gap: 10px;
    height: 300px;
}
.first{
    background-color: aqua;
    color: blue;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.second{
    background-color: rgb(255, 0, 217);
    color: blue;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.third{
   background-color: #00ff1e;
   color: blue; 
   border-style: solid; 
   border-color: black;
   display: flex;
   justify-content: center;
   align-items: center ;
}